# คัดลอกไฟล์นี้เป็น .env แล้วกรอกค่าจริงของคุณ
# ห้าม commit ไฟล์ .env ขึ้น git (อยู่ใน .gitignore แล้ว)

LINE_CHANNEL_ACCESS_TOKEN="oSinjYAMYx6xnfg2kxiLWVJiwCO3Qy0k0ezyt3hv+dbm1ILBPnoo5YkGp7hYIU1ZD0uWXw1TOuoQz8acFAfykGYs+Ant5Pvptv+1CVp9wqSYWQhNvymCvGljsEU47Alx4dYvy4YpTMT3+KsivubOFwdB04t89/1O/w1cDnyilFU="
LINE_USER_ID="U89994f82e2d27465aaf843d697d28f01"
GEMINI_API_KEY="AQ.Ab8RN6IIxFm4z6h46jVCvZvLa9gGG3foND77Zu1tys4nG0SLhA"
DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/1530978837201162402/T42yaBQ6qELKW5ejwpQfnkNlPl1BilrG6o2w9Mb3rxqhp-UQJHxCF-fa2euPtBxg8t0w"
# ถ้าไม่ตั้งค่า จะใช้ default 127.0.0.1:5559
ADB_DEVICE_ID=127.0.0.1:5559

# path ไปยัง adb.exe (ถ้าไม่ตั้ง จะพยายามหาใน PATH ของระบบอัตโนมัติ)
ADB_PATH=
